body{
    background: #fff;
}
.joinbox{
    .cont1{
        .inputbox{
            padding:0.2rem 0;
            padding-left: 0.3rem;
            box-sizing: border-box;
            border-bottom: 1px solid #f5f5f9;
            &.selpriceBox{
                position: relative;
                &::after{
                    position: absolute;
                    content: '';
                    display: inline-block;
                    right: 0.3rem;
                    top: 0.4rem;
                    box-sizing: border-box;
                    -webkit-box-sizing: border-box;
                    width: 10px;
                    height: 10px;
                    border-top: 1px solid rgba(0, 0, 0, .2);
                    border-right:1px solid rgba(0, 0, 0, .2);
                    -webkit-transform: rotate(45deg);
                    -moz-transform: rotate(45deg);
                    -ms-transform: rotate(45deg);
                    -o-transform: rotate(45deg);
                    transform: rotate(45deg);
                  }
            }
            .tip{
                margin:0.1rem 0.4rem;
                color:#666;
                font-size:0.24rem;
            }
            span{
                img{
                    width: 0.38rem;
                    height: 0.38rem;
                    display: inline-block;
                    vertical-align:middle;
                    margin-right:0.22rem;
                }
            }
            input{
                width:6rem;
                height:0.6rem;
                font-size: 0.3rem;
                color: #333;
                border: none;
            }
        }
        .txtbox{
            padding: 0.25rem 0;
            p{
                text-align: center;
                font-size: 0.28rem;
                color: #ccc;
            }
        }
    }
    .cont2{
        background: #f5f5f9;
        padding-left:0 0.3rem;
        box-sizing: border-box;
        .bt{
            padding: 0.4rem 0.3rem;
            img{
                width: 0.32rem;
                height: 0.32rem;
                display: inline-block;
                vertical-align: middle;
                margin-top:-3px;
            }
            span{
                font-size: 0.3rem;
                color: #333;
                padding-left: 0.2rem;
            }
            i{
                font-size: 0.28rem;
                color: #ffb400;
                padding-left:0.26rem;
            }
        }
        .cont2box{
            display:-webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            padding-bottom: 3.33rem;
            .smallbox{
                width: 2.08rem;
                padding:0.1rem 0;
                background: #fff;
                border-radius: 0.32rem;
                margin: 0.1rem;
                text-align: center;
                box-flex:1;
                -webkit-box-flex:1;
                -moz-box-flex:1;
                flex:1;
                -webkit-flex:1;
                position: relative;
                &.active{
                    border: 1px solid #ff6f00;
                }
                span{
                    width: 0.62rem;
                    height: 0.62rem;
                    display: block;
                    position: absolute;
                    top: 0;
                    right: 0;
                    background:url('../../../static/image/recharge/dui.png') no-repeat;
                    background-size:100%;
                   
                }
                h1{
                    i{
                        font-size: 0.36rem;
                        color: #ff6f00;
                    }
                    font-size: 0.24rem;
                    color: #666;
                }
                p{
                    font-size: 0.2rem;
                    color: #ccc;
                }
            
            }
        }
    }
    .cont3{
        box-sizing: border-box;
        margin-top: 0.3rem;
        padding: 0 0.3rem 0.3rem;
        position:fixed;
        bottom:0;
        .cont3_btn{
            width: 6.9rem;
            height: 1rem;
            border-radius: 0.5rem;
            background: -webkit-linear-gradient(left,#fdbe81,#fb4a37  ); /* Safari 5.1 - 6.0 */
            background: -o-linear-gradient(right, #fdbe81,#fb4a37); /* Opera 11.1 - 12.0 */
            background: -moz-linear-gradient(right, #fdbe81,#fb4a37); /* Firefox 3.6 - 15 */
            background: linear-gradient(to right,  #fdbe81,#fb4a37); /* 标准的语法 */
            p{
                font-size: 0.36rem;
                color: #fff;
                text-align: center;
                line-height: 1rem;
            }
        }
        .footer{
            margin-top: 0.44rem;
            display:-webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            padding-right: 0.3rem;
            .ft_box{
                span{
                    display: block;
                    width: 0.39rem;
                    height: 0.39rem;
                    border:1px solid #fb4a37;
                    border-radius:50%;
                    &.hadsel{
                        background:url(../../../static/image/join/sel.png)no-repeat left center;
                        background-size: 100%;
                    }
                }
            }
           .ft_txt{
            box-flex:1;
            -webkit-box-flex:1;
            -moz-box-flex:1;
            flex:1;
            -webkit-flex:1;
            font-size: 0.26rem;
            color: #666;
            line-height: 0.4rem;
            padding-left: 0.2rem;
            i{
                color: #ff6f00;
            }
           }
        }
    }
    .hideBox{
        position: fixed;
        left:0;
        top:0;
        right:0;
        bottom:0;
        background:rgba(0,0,0,0.5);
        display:none;
        .contBox{
            background:#fff;
            width:100%;
            position: absolute;
            bottom:0;
            box-sizing: border-box;
            .tit{
                font-size:0.3rem;
                color:#333;
                text-align: center;
                line-height:1rem;
                border-bottom:1px solid #f2f1f1;
                span{
                    float:right;
                    width:1.2rem;
                    height:1rem;
                    font-size:0.3rem;
                    color:#333;
                    text-align: center;
                }
            }
            ul{
                max-height:6rem;
                overflow-y: scroll;
                margin:0.3rem;
                li{
                    height:0.8rem;
                    color:#333;
                    font-size:0.28rem;
                    text-align: center;
                    line-height:0.8rem;
                    &.blue {
                        color: #2175bc;
                    }
                }
            }
            .txtBox{
                max-height:12rem;
                padding:0.3rem;
                overflow-y:scroll;
                font-size:0.3rem;
                color:#333;
                h1{
                    font-size:0.34rem;
                    color:#333;
                    margin-top:0.2rem;
                }
                ol{
                    border:1px solid #ecedf0;
                    li{
                        display:-webkit-box;
                        display: -moz-box;
                        display: -ms-flexbox;
                        display: -webkit-flex;
                        display: flex;
                        height: 0.6rem;
                        border-bottom: 1px solid #ecedf0;
                        &:nth-of-type(1){
                            background: #ffeccc;
                            span{
                                font-size: 0.3rem;
                                color: #ff9e00;
                            }
                        }
                        span{
                            box-flex:1;
                            -webkit-box-flex:1;
                            -moz-box-flex:1;
                            flex:1;
                            -webkit-flex:1;
                            text-align: center;
                            border-right: 1px solid #ecedf0;
                            line-height: 0.6rem;
                            font-size: 0.3rem;
                            color: #666;
                        }
                    }
                }
            }
        }
    }
    .show{
        display:block;
    }
    .hide{
        display:none;
    }
}